################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/__pycache__
/lotus.sln
/lotus.pyproj
/bot_config/prefixes.json
/.vs
